<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDB" connectionString="Server=192.168.0.14,1433;Uid=sa;Pwd=1234;Database=Northwind"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="Logs.txt" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%logger] %message %newline" />
			</layout>
		</appender>
		<appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date : %message %newline"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="ConsoleLog"/>
		</root>
	</log4net>
	
</configuration>